.App {
  text-align: center;
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 0, 0);
}

.App-link {
  color: #984747;
}

h1{
  position: absolute;
  top: 0;
}
.clickable-box div {
  width: 100px;
  height: 50px;
  background-color: #f60000;
  text-align: center;
  line-height: 50px;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 30%;  /* Makes the box circular */
  font-family: "Comic Sans MS"


}

#busch{
  position: absolute;
  top: 100px;
  left: 100px;
}
#livi{
  position: absolute;
  top: 100px;
  right: 100px;
}
#ca{
  position: absolute;
  bottom: 100px;
  left: 100px;
}
#cd{
  position: absolute;
  bottom: 100px;
  right: 100px;
}








#header{
  font-family: "Balloon", cursive;
}

