.App {
  text-align: center;
}

.App-header {
  background-color: #FCFFE7;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Aligns children to the top */
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  height: 100vh;
  padding-top: 10px; /* Reducing padding at the top */
}

#logo {
  width: 205px;
  height: auto;
  margin: 0;
  transform: rotate(-90deg);
  margin-top: -150px; 
}

h1 {
  font-family: "Courier New";
  color: #EB455F;
  margin-top: -100px;  /* Adjust as needed to reduce space below the logo */
}

h2 {
  font-family: "Courier New";
  font-weight: bolder;
  font-size: smaller;
  color: #000000;
  margin-top: 80px;
}


/* Common styles for all buttons */
button {
  width: 120px;
  height: 120px;
  background-color: #2B3467;
  text-align: center;
  line-height: 110px;
  color: #BAD7E9;
  cursor: pointer;
  margin: 10px; 
  border-radius: 10%;  
  font-family: "Courier New";
  font-weight: bold;
  font-size: .6em;
  border: none;
  outline: none;
}

/* Creating a button grid container */
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}


.homeButton {
  margin-right: 150px;  /* Add some space between the two buttons */
  margin-bottom: -150px;

}

.ShowMyLocation {
  margin-left: 150px;  /* Add some space between the two buttons */
}